body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

#favchap {
    width: 80%;
    padding: 10px;
    margin: 10px auto;
    display: block;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 20px auto;
    width: 80%;
}

li {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}

li:hover {
    background-color: #f0f0f0;
}

.delete-btn {
    float: right;
    cursor: pointer;
    color: #ff0000;
}

.delete-btn:hover {
    color: #cc0000;
}
