* {
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}

body{
    font-family: Arial, sans-serif;
    background-color:  #f0f0f0;
}
header{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    
}

nav {
    background-color: #444;

}

nav a {
    text-decoration: none;
    text-align: center;
    padding: 10px;
}

 
nav ul li {
    display: inline;
    margin: 10px;
    text-align: right;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;

}

nav ul li a:hover{
    color: #ff6600;
    background-color: rgba(0, 0, 0, 0.09);

}

nav .active {
    background-color: rgba(0, 0, 0, 0.09);
}


header img{
    width: 80px;

}

.hero{
    position: relative;
    justify-content: space-between;
    
}

.hero img{
    width: 100%;
    height: 500px;
}

.herodiv{
    position: absolute;
    bottom: 40%;
    left: 0%;
    padding: 20px;
    margin: 2rem;
    color: white;
    font-weight: bold;
    
}


.herodiv p{
    font-size: large;
}


.call-to-action{
    background-color: rgba(0, 0, 255, 0.5);
    padding: 30px;
    text-align: center;
    max-width: 500px;
    margin: 2rem;

    
}

.call-to-action h2, p{
    color: #ffffff;
    margin-right: 20px;
}

.button{
    display: inline;
    padding: 20px 20px;
    background-color: #ff6600;
    color: #ffffff; 
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px;
    
}
.button:hover {
    background-color: #cc5500;

}

.currentEvent{
    background-color: rgb(48, 46, 46);
    padding: 30px;
    margin: 2rem;
    max-width: 490px;
    
}

.currentEvent h2{
    color: white;
    margin: 20px;
    
}

.currentEvent ul{
    list-style-type: none;
}

.currentEvent li a{
    color: #eee;
    margin-bottom: 20px;
    text-decoration: none;

    
}

.currentEvent:hover {
    background-color: #cc5500;

}


.weather-card{
    background-color: rgb(48, 46, 46);
    padding: 20px;
    text-align: center;
    padding: 30px;
    margin: 2rem;
    max-width: 490px;
    font-weight: bold;
    color: #eee;


}

.weather-card:hover {
    background-color: #cc5500;

}

.spotlight {
    color: #000;
    margin: 0 2rem;
}

.spotlight p{
    color: #000;
     
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 6px;
}


#menu {
    display: block;
    font-size: 2rem;
    font-weight:700;
    text-decoration: none;
    background-color: #eee;
    color: #000;
    
}

#menu::before {
    content: "≡";
}


.navigation {
    list-style: none;
    margin: 0 auto;
    max-width: 760px;
}

.navigation li {
    display: none;
}
.navigation a {
    display: block;
    text-align: left;
    text-decoration: none;
    color: #f8f8f8;
    font-weight: 700;
}


.show li {
    display: block;
}

#menu.show::before {
    content: "X";
}

.social-link img{

    width: 50px;
    height: 50px;
    padding: 10px;
}



/* discover */


.sidebar p{
    color: #333;
}


.sidebar{
    display: grid;
    background-color: #f8f8f8;
    padding: 10px;
    display: grid;
    grid-template-columns: auto;
}


.gallary{
    display: grid;
    gap: 20px;
    padding: 20px;
    min-width: 500px;
    position: relative;

}



.gallary div{
    position: relative;
    overflow: hidden;
}
.gallary img{
    width: 100%;
    height: 500px;
    display: block;
    transition: transform 0.3s ease;
    

}


.side {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: .25rem auto;
    padding: 10px;
    width: 50%;
    background-color: #008000;
    color: white;
}

.description {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 100%;
    font-size: .9rem;

}

/* join.html css */
form{
    margin: 20px auto;
    max-width: 600px;
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 15px;

}
fieldset{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

legend{
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

label{
    display: block;
    border-radius: 5px;
    margin-top: 20px;
}

input[type="text"],
input[type="tel"],
input[type="password"],
input[type="email"],
input[type="range"],
textarea{
    width: 100%;
    padding: 7px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-sizing: border-box;
    color: #333333;
    background-color: #eeeeee;
    
}

input[type="radio"]{

    margin-right: 5px;
}




input[type="submit"]{
    padding:10px 20px;
    background-color: #004FA3;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    
}

input[type="submit"]:hover{
    background-color: #0056b3;
}

.benefit {
    background-color: #ffffff;
    
    justify-content: space-between;
    margin: 0 2rem;

}

.benefit-part{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
}
.benefit h2{
    text-align: center;
}


/* CSS styles for banner section */
.banner {
    display: none;
    background-color: blue;
    padding: 1px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-radius: 5px ;
    overflow: hidden;
}



#closeBanner {
    top: 5px;
    right: 10px;
    cursor: pointer;
    font-size: 30px;
    border: none;
    color: white;
    background: none;
    
}

#closeBanner:hover {
    color: #555;
}





/* diretoy */


#view-toggle {
    text-align: center;
    margin-bottom: 1rem;
    
    
}

#view-toggle button {
    margin: 0 0.5rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    
}

.grid section {
    border: 1px solid #ccc;
    overflow: hidden;
    margin-bottom: 10px;
    padding: 10px;
    color: #333333;
}

.list section{
    color: #333333;
    font-weight: 700;
}

.list section {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
}

button {
    padding: 0.5rem 1rem;
    border: none;
    background-color: #333333;
    color: #ffffff;
    cursor: pointer;
    padding: 10px;
}

button:hover {
    background-color: #555555;
}

#grid-view {
    border-radius: 0 5px 5px 0;;
}

#list-view {
    border-radius: 0 5px 5px 0;}

.menu-directory{
        margin: 0 auto;
        padding: 0.5rem;
        max-width: 800px;
        color: #333333;
        justify-content: space-between;
        text-align: center;
        background-color: #0000ff
        
    }
    
    button {
        padding: 1rem;
        font-weight: 700;
        align-items: center;
    }
    
    section {
        font-weight: 700;
        display: flex;
        flex-direction: column;
        border: 1px solid #ccc;
        margin-bottom: 10px;
        padding: 10px;
        
    }


   #member-container{
    margin: 0 auto;
	padding: 0.5rem;
	max-width: 800px;
    font-family: Roboto, Helvetica, sans-serif;
    color: #f0f0f0;
    justify-content: space-between;
    background-color: #0000ff;
    font-weight: bold;
   }
    
    
div h1{
    text-align: center;
}   
    
    



/* CSS styles for spotlight members section */
.spotlight {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.spotlight div {
    width: 30%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.spotlight img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.spotlights h2 {
    font-size: 24px;
    margin-bottom: 5px;
    text-align: center;
    font-weight: bold;
    justify-content: space-between;
}

.spotlight p {
    margin-bottom: 5px;
}

.spotlight a {
    display: block;
    color: #0000ff;
    text-decoration: none;
}






