nav ul li{ 
    display: inline;
    margin-right: 40px;

}

@media screen and (max-width: 768px) {
    .menu {
        display: none;
    }
    .menu.show-menu {
        display: flex;
        flex-direction: column;
    }

    .hamburger {
        display: block;
    }
}