nav ul li{ 
    display: inline;
    margin-right: 40px;

}

@media only screen and (min-width: 40em) {
    .navigation {
        display: flex;
    }
    .navigation li {
        display: block; /* change state in small view */
        flex: 1 1 100%;
    }
    .navigation a {
        text-align: center;
    }
    #menu {
        display: none;
    }
}

.social-link{
    display: flex;
}


@media only screen and (min-width: 40em){
    .gallary img:hover{
        transform: scale(1.05);
        
    }

    
}




@media only screen and (min-width: 40em){
    main{
        display: flex;
        justify-content: space-between;
    }

    .benefit{
        display: flex;


    }

    .benefit-part{
        display: 45%;
    }
    
}